# Acquisition Advanced

In [1]:
import acquire as ac

Load everything and check for nulls

In [10]:
query = '''

SELECT id, pre.parcelid, bathroomcnt, bedroomcnt, calculatedbathnbr, calculatedfinishedsquarefeet, finishedsquarefeet12,
 fips, fullbathcnt, latitude, longitude, lotsizesquarefeet, propertycountylandusecode, propertylandusetypeid, rawcensustractandblock,
 regionidcity, regionidcounty, regionidzip, roomcnt, yearbuilt, structuretaxvaluedollarcnt, taxvaluedollarcnt, assessmentyear, landtaxvaluedollarcnt,
 taxamount, censustractandblock FROM predictions_2017 as pre
JOIN properties_2017 USING(id)
WHERE SUBSTR(transactiondate, 1, 4) = 2017 AND propertylandusetypeid = 261
'''


df = ac.sql_query('zillow', query)

In [ ]:
to_remove = []

for col in df.columns:
    if df[col].isna().sum()/len(df) >= .20:
        to_remove.append(col)

In [9]:
len(df)

56080

In [ ]:
df = df.drop(columns=to_remove)

In [7]:
df.columns

Index(['id', 'parcelid', 'bathroomcnt', 'bedroomcnt', 'calculatedbathnbr',
       'calculatedfinishedsquarefeet', 'finishedsquarefeet12', 'fips',
       'fullbathcnt', 'latitude', 'longitude', 'lotsizesquarefeet',
       'propertycountylandusecode', 'propertylandusetypeid',
       'rawcensustractandblock', 'regionidcity', 'regionidcounty',
       'regionidzip', 'roomcnt', 'yearbuilt', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'censustractandblock'],
      dtype='object')

In [ ]:
query = '''SELECT id, parcelid, bathroomcnt, bedroomcnt, calculatedbathnbr, calculatedfinishedsquarefeet, finishedsquarefeet12,
 fips, fullbathcnt, latitude, longitude, lotsizesquarefeet, propertycountylandusecode, propertylandusetypeid, rawcensustractandblock,
 regionidcity, regionidcounty, regionidzip, roomcnt, yearbuilt, structuretaxvaluedollarcnt, taxvaluedollarcnt, assessmentyear, landtaxvaluedollarcnt,
 taxamount, censustractandblock FROM properties_2017 WHERE propertylandusetypeid = 261;
'''


df = ac.sql_query('zillow', query)

Dropping all nulls would only lose 2% of my data so I will do that.

In [ ]:
df.isna().sum().max()/len(df)*100

In [11]:
df = df.dropna()

In [12]:
len(df)

54033

In [13]:
df.head()

,id,parcelid,bathroomcnt,bedroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,latitude,...,regionidcounty,regionidzip,roomcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock
52,337,14688177,4.0,4.0,4.0,4969.0,4969.0,6111.0,4.0,34433200.0,...,2061.0,97099.0,8.0,1989.0,779712.0,2228473.0,2016.0,1448761.0,24556.86,6.111001e+13
53,338,10930942,2.0,3.0,2.0,1800.0,1800.0,6111.0,2.0,34464778.0,...,2061.0,97099.0,0.0,1932.0,319803.0,794940.0,2016.0,475137.0,8571.20,6.111001e+13
54,339,17246711,1.0,2.0,1.0,780.0,780.0,6111.0,1.0,34450686.0,...,2061.0,97099.0,4.0,1971.0,70231.0,88731.0,2016.0,18500.0,1652.36,6.111001e+13
55,340,12559816,2.0,2.0,2.0,1250.0,1250.0,6111.0,2.0,34448639.0,...,2061.0,97099.0,4.0,1978.0,79575.0,233424.0,2016.0,153849.0,3191.16,6.111001e+13
56,341,14673239,1.0,2.0,1.0,1404.0,1404.0,6111.0,1.0,34450089.0,...,2061.0,97099.0,5.0,1950.0,99853.0,313844.0,2016.0,213991.0,3987.00,6.111001e+13

In [ ]:
query = '''SELECT id, parcelid, bathroomcnt, bedroomcnt, calculatedbathnbr, calculatedfinishedsquarefeet, 
        finishedsquarefeet12, fips, fullbathcnt, latitude, longitude, lotsizesquarefeet, propertycountylandusecode, 
        propertylandusetypeid, rawcensustractandblock,regionidcity, regionidcounty, regionidzip, roomcnt, yearbuilt, 
        structuretaxvaluedollarcnt, taxvaluedollarcnt, assessmentyear, landtaxvaluedollarcnt,taxamount, 
        censustractandblock 
        FROM predictions_2017 as pre
            JOIN properties_2017 USING(id)
        WHERE SUBSTR(transactiondate, 1, 4) = 2017 AND propertylandusetypeid = 261'''  # SQL query

In [25]:
query = '''SELECT bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, poolcnt, garagecarcnt, fireplacecnt, fips, yearbuilt, numberofstories, 
lotsizesquarefeet
           FROM properties_2017 JOIN predictions_2017 USING(id)
           WHERE SUBSTR(transactiondate, 1, 4) = 2017 AND propertylandusetypeid = 261'''  # SQL query

df = ac.sql_query('zillow', query)

In [28]:
df.isna().sum()

bedroomcnt                          0
bathroomcnt                         0
calculatedfinishedsquarefeet      231
taxvaluedollarcnt                   8
poolcnt                         45128
garagecarcnt                    37832
fireplacecnt                    48448
fips                                0
yearbuilt                         249
numberofstories                 40586
lotsizesquarefeet                 350
dtype: int64

# Acquisition MVP

In [21]:
query = '''SELECT bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt 
           FROM properties_2017 JOIN predictions_2017 USING(id)
           WHERE SUBSTR(transactiondate, 1, 4) = 2017 AND propertylandusetypeid = 261'''  # SQL query

df = ac.sql_query('zillow', query)

In [22]:
df = df.dropna()

In [23]:
len(df)

55846

In [24]:
df.head()

    bedroomcnt  bathroomcnt  calculatedfinishedsquarefeet  taxvaluedollarcnt
4          4.0          2.0                        3633.0           296425.0
6          3.0          4.0                        1620.0           847770.0
7          3.0          2.0                        2077.0           646760.0
11         0.0          0.0                        1200.0             5328.0
14         0.0          0.0                         171.0             6920.0