# Preparation

In [39]:
import acquire as ac
import prepare as prep

import pandas as pd
import numpy as np

In [2]:
zil = ac.zillow_data()

In [3]:
rename = {'bedroomcnt': 'bedrooms',  # Create a dictionary for new column names
              'bathroomcnt': 'bathrooms',
              'calculatedfinishedsquarefeet': 'sq_ft',
              'taxvaluedollarcnt': 'price'}
zil = zil.rename(columns=rename)  # Rename colums using dictionary

In [4]:
zil.bedrooms.value_counts()

3.0     25015
4.0     16582
2.0      8739
5.0      3974
6.0       661
1.0       587
0.0       133
7.0       111
8.0        33
9.0         8
25.0        1
10.0        1
11.0        1
Name: bedrooms, dtype: int64

In [5]:
bed_bins = pd.cut(zil.bedrooms, bins=[-0.5,.5,1.5,2.5,3.5,4.5,5.5,1000], labels=['0', '1', '2', '3', '4', '5', '6+'])

In [6]:
zil.bedrooms = bed_bins

In [7]:
zil.bedrooms.value_counts()

3     25015
4     16582
2      8739
5      3974
6+      816
1       587
0       133
Name: bedrooms, dtype: int64

In [8]:
zil.bathrooms.value_counts()

2.0     24532
3.0     11152
1.0     10626
2.5      3723
4.0      2147
1.5       793
5.0       780
3.5       736
4.5       506
6.0       303
5.5       165
0.0       140
7.0       116
8.0        37
6.5        30
9.0        26
7.5        11
10.0       11
8.5         5
11.0        3
13.0        1
9.5         1
20.0        1
19.5        1
Name: bathrooms, dtype: int64

In [13]:
np.where(zil.bathrooms > 6, '7+',zil.bathrooms.astype(str))

array(['2.0', '4.0', '2.0', ..., '3.0', '3.0', '2.0'], dtype=object)

In [21]:
trash = zil.copy()
zil.bathrooms = np.where(zil.bathrooms > 5, '6+',zil.bathrooms.astype(str))

In [20]:
trash.bathrooms.value_counts()

2.0    24532
3.0    11152
1.0    10626
2.5     3723
4.0     2147
1.5      793
5.0      780
3.5      736
6+       711
4.5      506
0.0      140
Name: bathrooms, dtype: int64

In [22]:
zil.head()

  bedrooms bathrooms   sq_ft     price
0        4       2.0  3633.0  296425.0
1        3       4.0  1620.0  847770.0
2        3       2.0  2077.0  646760.0
3        0       0.0  1200.0    5328.0
4        0       0.0   171.0    6920.0

In [26]:
zil.price.sort_values(ascending=False)[:20]

3289     30166843.0
10554    22843125.0
24592    19129816.0
13920    18782125.0
35403    17170000.0
35324    14721125.0
7821     14563303.0
13918    13243244.0
46198    12698505.0
25452    12228491.0
20168    11962714.0
24685    11904874.0
31982    11689668.0
29174    11517922.0
21385    11378863.0
13919    10904781.0
30828    10358901.0
9777     10000000.0
44373     9841049.0
3294      9496841.0
Name: price, dtype: float64

In [30]:
len(zil[zil.price < 2_500_000])/len(zil)

0.9888264154997672

In [38]:
zil = ac.zillow_data()
rename = {'bedroomcnt': 'bedrooms',  # Create a dictionary for new column names
            'bathroomcnt': 'bathrooms',
              'calculatedfinishedsquarefeet': 'sq_ft',
              'taxvaluedollarcnt': 'price'}
zil = zil.rename(columns=rename)  # Rename colums using dictionary

In [34]:
zil = zil[zil.price < 2_500_000]

In [40]:
zil = ac.zillow_data()
zil = prep.prep_zillow(zil)

In [41]:
zil.head()

  bedrooms bathrooms   sq_ft     price
0        4       2.0  3633.0  296425.0
1        3       4.0  1620.0  847770.0
2        3       2.0  2077.0  646760.0
3        0       0.0  1200.0    5328.0
4        0       0.0   171.0    6920.0