# Preparation MVP

In [1]:
import acquire as ac
import prepare as prep

import pandas as pd
import numpy as np

In [2]:
zil = ac.zillow_data()

In [3]:
rename = {'bedroomcnt': 'bedrooms',  # Create a dictionary for new column names
              'bathroomcnt': 'bathrooms',
              'calculatedfinishedsquarefeet': 'sq_ft',
              'taxvaluedollarcnt': 'price'}
zil = zil.rename(columns=rename)  # Rename colums using dictionary

In [4]:
zil.bedrooms.value_counts()

3.0     25015
4.0     16582
2.0      8739
5.0      3974
6.0       661
1.0       587
0.0       133
7.0       111
8.0        33
9.0         8
25.0        1
10.0        1
11.0        1
Name: bedrooms, dtype: int64

In [5]:
bed_bins = pd.cut(zil.bedrooms, bins=[-0.5,.5,1.5,2.5,3.5,4.5,5.5,1000], labels=['0', '1', '2', '3', '4', '5', '6+'])

In [6]:
zil.bedrooms = bed_bins

In [7]:
zil.bedrooms.value_counts()

3     25015
4     16582
2      8739
5      3974
6+      816
1       587
0       133
Name: bedrooms, dtype: int64

In [8]:
zil.bathrooms.value_counts()

2.0     24532
3.0     11152
1.0     10626
2.5      3723
4.0      2147
1.5       793
5.0       780
3.5       736
4.5       506
6.0       303
5.5       165
0.0       140
7.0       116
8.0        37
6.5        30
9.0        26
7.5        11
10.0       11
8.5         5
11.0        3
13.0        1
9.5         1
20.0        1
19.5        1
Name: bathrooms, dtype: int64

In [9]:
np.where(zil.bathrooms > 6, '7+',zil.bathrooms.astype(str))

array(['2.0', '4.0', '2.0', ..., '3.0', '3.0', '2.0'], dtype=object)

In [10]:
trash = zil.copy()
zil.bathrooms = np.where(zil.bathrooms > 5, '6+',zil.bathrooms.astype(str))

In [11]:
trash.bathrooms.value_counts()

2.0     24532
3.0     11152
1.0     10626
2.5      3723
4.0      2147
1.5       793
5.0       780
3.5       736
4.5       506
6.0       303
5.5       165
0.0       140
7.0       116
8.0        37
6.5        30
9.0        26
7.5        11
10.0       11
8.5         5
11.0        3
13.0        1
9.5         1
20.0        1
19.5        1
Name: bathrooms, dtype: int64

In [12]:
zil.head()

  bedrooms bathrooms   sq_ft     price
0        4       2.0  3633.0  296425.0
1        3       4.0  1620.0  847770.0
2        3       2.0  2077.0  646760.0
3        0       0.0  1200.0    5328.0
4        0       0.0   171.0    6920.0

In [13]:
zil.price.sort_values(ascending=False)[:20]

3289     30166843.0
10554    22843125.0
24592    19129816.0
13920    18782125.0
35403    17170000.0
35324    14721125.0
7821     14563303.0
13918    13243244.0
46198    12698505.0
25452    12228491.0
20168    11962714.0
24685    11904874.0
31982    11689668.0
29174    11517922.0
21385    11378863.0
13919    10904781.0
30828    10358901.0
9777     10000000.0
44373     9841049.0
3294      9496841.0
Name: price, dtype: float64

In [14]:
len(zil[zil.price < 2_500_000])/len(zil)

0.9888264154997672

In [15]:
zil = ac.zillow_data()
rename = {'bedroomcnt': 'bedrooms',  # Create a dictionary for new column names
            'bathroomcnt': 'bathrooms',
              'calculatedfinishedsquarefeet': 'sq_ft',
              'taxvaluedollarcnt': 'price'}
zil = zil.rename(columns=rename)  # Rename colums using dictionary

In [16]:
zil = zil[zil.price < 2_500_000]

In [17]:
zil = ac.zillow_data()
zil = prep.prep_zillow(zil)

In [18]:
zil.head()

   bedrooms  bathrooms   sq_ft     price
0         4        2.0  3633.0  296425.0
1         3        4.0  1620.0  847770.0
2         3        2.0  2077.0  646760.0
3         0        0.0  1200.0    5328.0
4         0        0.0   171.0    6920.0

In [19]:
zil, val, test = prep.train_val_test(zil)

In [20]:
zil.shape, val.shape, test.shape

((39013, 4), (8360, 4), (8360, 4))

# SECOND TRY

In [21]:
zil = ac.zillow_data(True)

In [22]:
zil = prep.prep_zillow(zil, mvp=False)

In [23]:
zil.year = zil.year.astype(int)

In [24]:
len(zil)

51502

In [25]:
zil.head()

,bedrooms,bathrooms,sq_ft,price,pools,garages,fireplaces,fips,year,lot_sq_ft
4,4,2.0,3633.0,296425.0,0,0,0,Los Angeles County,2005,9826.0
7,3,2.0,2077.0,646760.0,0,0,0,Los Angeles County,1926,6490.0
11,0,0.0,1200.0,5328.0,0,0,0,Los Angeles County,1972,4054.0
14,0,0.0,171.0,6920.0,0,0,0,Los Angeles County,1973,13002.0
15,0,0.0,203.0,14166.0,0,0,0,Los Angeles County,1960,17359.0

In [26]:
zil.bedrooms.value_counts()

3    23917
4    15141
2     8402
5     3023
1      500
6      437
0       82
Name: bedrooms, dtype: int64

In [27]:
zil.bathrooms.value_counts()

2.0    23735
1.0    10330
3.0    10194
2.5     3578
4.0     1578
1.5      766
3.5      594
5.0      376
4.5      262
0.0       89
Name: bathrooms, dtype: int64

In [28]:
train, val, test = prep.scale(zil, scaled_cols=['bedrooms', 'bathrooms', 'sq_ft'])

In [29]:
train.head()

,bedrooms,bathrooms,sq_ft,price,pools,garages,fireplaces,fips,year,lot_sq_ft
31158,0.666667,0.5,0.415455,657000.0,0,2,0,Orange County,1994,3150.0
26388,0.333333,0.2,0.224943,57857.0,0,0,0,Los Angeles County,1941,6854.0
26578,0.500000,0.6,0.580209,526693.0,1,0,0,Los Angeles County,1951,16045.0
27070,0.333333,0.2,0.229278,364079.0,0,0,0,Los Angeles County,1950,5283.0
11713,0.666667,0.6,0.530732,384807.0,0,0,0,Los Angeles County,1986,5148.0

# Advanced Prepare

In [30]:
zil = ac.zillow_data(True)

In [31]:
zil.isna().sum()

bedroomcnt                          0
bathroomcnt                         0
calculatedfinishedsquarefeet      231
taxvaluedollarcnt                   8
poolcnt                         45128
garagecarcnt                    37832
fireplacecnt                    48448
fips                                0
yearbuilt                         249
lotsizesquarefeet                 350
dtype: int64

In [32]:
zil.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,poolcnt,garagecarcnt,fireplacecnt,fips,yearbuilt,lotsizesquarefeet
0,0.0,0.0,NaN,27516.0,NaN,NaN,NaN,6037.0,NaN,4083.0
1,0.0,0.0,NaN,10.0,NaN,NaN,NaN,6037.0,NaN,11975.0
2,0.0,0.0,NaN,10.0,NaN,NaN,NaN,6037.0,NaN,9403.0
3,0.0,0.0,NaN,2108.0,NaN,NaN,NaN,6037.0,NaN,3817.0
4,4.0,2.0,3633.0,296425.0,NaN,NaN,NaN,6037.0,2005.0,9826.0

In [33]:
from sklearn.impute import SimpleImputer

In [34]:
imputer = SimpleImputer(strategy='constant', fill_value=0)
imputer.fit(zil[['poolcnt']])
zil['poolcnt'] = imputer.transform(zil[['poolcnt']])

In [35]:
zil.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,poolcnt,garagecarcnt,fireplacecnt,fips,yearbuilt,lotsizesquarefeet
0,0.0,0.0,NaN,27516.0,0.0,NaN,NaN,6037.0,NaN,4083.0
1,0.0,0.0,NaN,10.0,0.0,NaN,NaN,6037.0,NaN,11975.0
2,0.0,0.0,NaN,10.0,0.0,NaN,NaN,6037.0,NaN,9403.0
3,0.0,0.0,NaN,2108.0,0.0,NaN,NaN,6037.0,NaN,3817.0
4,4.0,2.0,3633.0,296425.0,0.0,NaN,NaN,6037.0,2005.0,9826.0

In [36]:
imputer.fit(zil[['garagecarcnt']])
zil['garagecarcnt'] = imputer.transform(zil[['garagecarcnt']])

In [37]:
imputer.fit(zil[['fireplacecnt']])
zil['fireplacecnt'] = imputer.transform(zil[['fireplacecnt']])

In [38]:
zil.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,poolcnt,garagecarcnt,fireplacecnt,fips,yearbuilt,lotsizesquarefeet
0,0.0,0.0,NaN,27516.0,0.0,0.0,0.0,6037.0,NaN,4083.0
1,0.0,0.0,NaN,10.0,0.0,0.0,0.0,6037.0,NaN,11975.0
2,0.0,0.0,NaN,10.0,0.0,0.0,0.0,6037.0,NaN,9403.0
3,0.0,0.0,NaN,2108.0,0.0,0.0,0.0,6037.0,NaN,3817.0
4,4.0,2.0,3633.0,296425.0,0.0,0.0,0.0,6037.0,2005.0,9826.0

In [39]:
zil.isna().sum()

bedroomcnt                        0
bathroomcnt                       0
calculatedfinishedsquarefeet    231
taxvaluedollarcnt                 8
poolcnt                           0
garagecarcnt                      0
fireplacecnt                      0
fips                              0
yearbuilt                       249
lotsizesquarefeet               350
dtype: int64

In [40]:
zil = zil.dropna()

In [41]:
zil.isna().sum()

bedroomcnt                      0
bathroomcnt                     0
calculatedfinishedsquarefeet    0
taxvaluedollarcnt               0
poolcnt                         0
garagecarcnt                    0
fireplacecnt                    0
fips                            0
yearbuilt                       0
lotsizesquarefeet               0
dtype: int64

In [42]:
len(zil)

55508

In [43]:
zil.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,poolcnt,garagecarcnt,fireplacecnt,fips,yearbuilt,lotsizesquarefeet
4,4.0,2.0,3633.0,296425.0,0.0,0.0,0.0,6037.0,2005.0,9826.0
7,3.0,2.0,2077.0,646760.0,0.0,0.0,0.0,6037.0,1926.0,6490.0
11,0.0,0.0,1200.0,5328.0,0.0,0.0,0.0,6037.0,1972.0,4054.0
14,0.0,0.0,171.0,6920.0,0.0,0.0,0.0,6037.0,1973.0,13002.0
15,0.0,0.0,203.0,14166.0,0.0,0.0,0.0,6037.0,1960.0,17359.0

In [44]:
zil.columns

Index(['bedroomcnt', 'bathroomcnt', 'calculatedfinishedsquarefeet',
       'taxvaluedollarcnt', 'poolcnt', 'garagecarcnt', 'fireplacecnt', 'fips',
       'yearbuilt', 'lotsizesquarefeet'],
      dtype='object')

In [45]:
rename = {'bedroomcnt':'bedrooms', 'bathroomcnt':'bathrooms', 'calculatedfinishedsquarefeet':'sq_ft', 'poolcnt':'pools', 
 'garagecarcnt':'garages', 'fireplacecnt':'fireplaces','yearbuilt':'year', 'lotsizesquarefeet':'lot_sq_ft',
          'taxvaluedollarcnt':'price'}

zil = zil.rename(columns=rename)

In [46]:
zil.head()

,bedrooms,bathrooms,sq_ft,price,pools,garages,fireplaces,fips,year,lot_sq_ft
4,4.0,2.0,3633.0,296425.0,0.0,0.0,0.0,6037.0,2005.0,9826.0
7,3.0,2.0,2077.0,646760.0,0.0,0.0,0.0,6037.0,1926.0,6490.0
11,0.0,0.0,1200.0,5328.0,0.0,0.0,0.0,6037.0,1972.0,4054.0
14,0.0,0.0,171.0,6920.0,0.0,0.0,0.0,6037.0,1973.0,13002.0
15,0.0,0.0,203.0,14166.0,0.0,0.0,0.0,6037.0,1960.0,17359.0

In [47]:
def percent(df, num, col=''):
    print(f'{round(len(df[df[col] < num])/len(df),4)*100}%')

In [48]:
zil.bathrooms.value_counts()

2.0     24454
3.0     11057
1.0     10566
2.5      3716
4.0      2102
1.5       791
5.0       762
3.5       729
4.5       506
6.0       293
5.5       164
0.0       132
7.0       112
8.0        36
6.5        30
9.0        25
7.5        11
10.0       11
8.5         4
11.0        3
13.0        1
9.5         1
20.0        1
19.5        1
Name: bathrooms, dtype: int64

In [49]:
percent(zil, 5, 'bathrooms' )

97.38%

In [50]:
new_baths = np.where(zil.bathrooms >= 5, 5, zil.bathrooms)
zil.bathrooms = new_baths

In [51]:
zil.bathrooms.value_counts()

2.0    24454
3.0    11057
1.0    10566
2.5     3716
4.0     2102
5.0     1455
1.5      791
3.5      729
4.5      506
0.0      132
Name: bathrooms, dtype: int64

In [52]:
bed_bins = pd.cut(zil.bedrooms, bins=[-0.5, .5, 1.5, 2.5, 3.5, 4.5, 5.5, 10000],
                          labels=[0, 1, 2, 3, 4, 5, 6])
zil.bedrooms = bed_bins.astype(int)

In [53]:
percent(zil, 5, 'bedrooms' )

91.45%

In [54]:
zil.bedrooms.value_counts()

3    24909
4    16494
2     8673
5     3945
6      799
1      566
0      122
Name: bedrooms, dtype: int64

In [55]:
percent(zil, 4_000, 'sq_ft' )

96.91%

In [56]:
zil = zil[zil.sq_ft < 4_000]

In [57]:
percent(zil, 4_000, 'sq_ft' )

100.0%

In [58]:
zil.pools.value_counts()

0.0    43984
1.0     9807
Name: pools, dtype: int64

In [59]:
zil.pools = zil.pools.astype(int)

In [60]:
zil.pools.value_counts()

0    43984
1     9807
Name: pools, dtype: int64

In [61]:
zil.garages.value_counts()

0.0    36327
2.0    14512
1.0     2478
3.0      355
4.0       85
5.0       26
6.0        6
7.0        1
8.0        1
Name: garages, dtype: int64

In [62]:
zil.garages = zil.garages.astype(int)

In [63]:
percent(zil, 3, 'garages' )

99.11999999999999%

In [64]:
new_garages = np.where(zil.garages >= 3, 3, zil.garages)
zil.garages = new_garages

In [65]:
percent(zil, 4, 'garages' )

100.0%

In [66]:
zil.garages.value_counts()

0    36327
2    14512
1     2478
3      474
Name: garages, dtype: int64

In [67]:
zil.fireplaces.value_counts()

0.0    46399
1.0     6449
2.0      807
3.0      131
4.0        4
5.0        1
Name: fireplaces, dtype: int64

In [68]:
zil.fireplaces = zil.fireplaces.astype(int)

In [69]:
zil.fireplaces.value_counts()

0    46399
1     6449
2      807
3      131
4        4
5        1
Name: fireplaces, dtype: int64

In [70]:
new_fireplaces = np.where(zil.fireplaces >= 3, 3, zil.fireplaces)
zil.fireplaces = new_fireplaces

In [71]:
zil.fireplaces.value_counts()

0    46399
1     6449
2      807
3      136
Name: fireplaces, dtype: int64

In [72]:
fips_codes = {'6037': 'Los Angeles County',
              '6059': 'Orange County',
              '6111': 'Ventura County'}
zil.fips = [fips_codes.get(fip) for fip in zil.fips.astype(int).astype(str)]

In [73]:
zil.fips.value_counts()

Los Angeles County    35828
Orange County         13379
Ventura County         4584
Name: fips, dtype: int64

In [74]:
zil.year = zil.year.astype(int)

In [75]:
zil.head()

,bedrooms,bathrooms,sq_ft,price,pools,garages,fireplaces,fips,year,lot_sq_ft
4,4,2.0,3633.0,296425.0,0,0,0,Los Angeles County,2005,9826.0
7,3,2.0,2077.0,646760.0,0,0,0,Los Angeles County,1926,6490.0
11,0,0.0,1200.0,5328.0,0,0,0,Los Angeles County,1972,4054.0
14,0,0.0,171.0,6920.0,0,0,0,Los Angeles County,1973,13002.0
15,0,0.0,203.0,14166.0,0,0,0,Los Angeles County,1960,17359.0

In [76]:
percent(zil, 20_000, 'lot_sq_ft')

95.74000000000001%

In [77]:
zil = zil[zil.lot_sq_ft < 20_000]

In [79]:
zil = ac.zillow_data(True)
zil = prep.prep_zillow(mvp=False, df=zil)

In [80]:
zil.head()

,bedrooms,bathrooms,sq_ft,price,pools,garages,fireplaces,fips,year,lot_sq_ft
4,4,2.0,3633.0,296425.0,0,0,0,Los Angeles County,2005,9826.0
7,3,2.0,2077.0,646760.0,0,0,0,Los Angeles County,1926,6490.0
11,0,0.0,1200.0,5328.0,0,0,0,Los Angeles County,1972,4054.0
14,0,0.0,171.0,6920.0,0,0,0,Los Angeles County,1973,13002.0
15,0,0.0,203.0,14166.0,0,0,0,Los Angeles County,1960,17359.0

In [90]:
percent(zil, 1_000_000, 'price' )

95.55%